@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 300;
  src: local('Ek Mukta Light'), local('EkMukta-Light'), url(https://fonts.gstatic.com/s/ekmukta/v7/eZfvCT6XSiuTQmmC8YaT244P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Ek Mukta', helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Ek Mukta'), local('EkMukta-Regular'), url(https://fonts.gstatic.com/s/ekmukta/v7/bd9w3t1zRrt_-4XQNqfNJPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@font-face {
  font-family: 'Ek Mukta', helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Ek Mukta Bold'), local('EkMukta-Bold'), url(https://fonts.gstatic.com/s/ekmukta/v7/PTj8SjnLMuoZrJLoiRjMXo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Universal */

html{
  font-family: "ek mukta", helvetica, sans-serif;
  font-size: 16px;
}

h1{
  font-size: 3.5rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
}
h3{
  font-size: 2.5rem;
  font-weight: bold;
}
h4{
  font-size: 1.5rem;
}
.flex_container{
  display:flex;
  width: 100%;
}

/* Header with Navigation */
header{
  display: flex;
  height: 1.75rem;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 100%;
}

header .left_header, header .right_header{
  display: flex;
  text-align: center;
  align-items: center;
}

header .right_header {
  margin-right: 2rem;
}

.left_header img{
  margin-right: 0.5rem;
  width: 2.5rem;
}

.left_header h2 span{
  color: lightgrey;
}

.menu {
  display: flex;
  }

.menu li{
  font-size: 1.1rem;
  margin: 0 1rem;
}
.mobile_menu{
  display: none;
}

@media only screen and (max-width: 480px){
  /*Mobile Header*/
  header{
    padding: 1rem 0;
  }
  header .left_header{
    display: none;
  }
  header .right_header{
    display: none;
  }
  .mobile_header{
    display: flex;
    width: 100%;
    justify-content: center
  }
  .mobile_menu{
    display: flex;
  }
  .mobile_menu img{
    height: 2rem;
    margin: 0 1rem;
  }

}


/*Upper Banner*/
.upper_banner{
  margin-top: 3rem;
  display: flex;
  background-color: lightgrey;
  width: 100%;
}

.right_banner{
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 7rem 0 0 7rem;
}

.ub_picture{
  width: 60%;
}

.ub_picture img{
  height: auto;
  width: 100%;
  padding: 1rem 2rem;
}

.banner_text h2{
  padding: 2rem 0rem;
  text-align: left;
  font-weight: normal;
}

button {
  width: 100%;
  height: 2.5rem;
  font-size: 1.25rem;
  background-color: grey;
}
button a{
  color: white;
  letter-spacing: .05rem;
}
.right_banner_mobile{
  display: none;
}
.btn{
  margin: 0 auto;
  width: 60%;
}

/*Mobile Upper Banner*/
@media only screen and (max-width: 700px){
  .flex_container{
    flex-direction: column;
  }
.upper_banner{
  display: block;
}
  .ub_picture img{
    display: none;
  }
  .ub_picture{
    height: 10rem;
    width: 100%;
    background-color: darkgrey;
  }
  .right_banner{
    margin: 1rem 0;
    width: 100%;
  }
  .banner_text h1{
    font-size: 2rem;
  }

  .flex_container{
    display: flex;
  }
  .right_banner{
    display: none;
  }
  .right_banner_mobile{
    display:block;
  }
  .right_banner_mobile .banner_text_mobile h1{
    font-size: 2rem;
    margin: 2rem 1rem;
  }
  .right_banner_mobile .banner_text_mobile h2{
    font-weight: normal;
    margin: 1rem;
  }
  .right_banner_mobile button {
    display: block;
    width: 75%;
    margin: 0 auto 1rem auto;
  }

}

/*Tablet Upper Banner*/
@media only screen and (max-width: 1180px){
  .right_banner{
    margin: 1rem 0 0 4rem;
  }
}

/*Smaller tablet Upper Banner*/
@media only screen and (max-width: 900px){
  .right_banner{
    margin: 1rem 0 0 3rem;
  }
  .banner_text h1{
    font-size: 1.8rem;
  }
  .banner_text h2{
    font-size: 1.25rem;
  }
}

/*Lower Banner*/
.lower_banner{
  display: flex;
  width: 100%;
  padding-bottom: 3rem;
}
.announcements{
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
}
.announcements img{
  padding-top: 1.1rem;
}
.announcement_img{
  width: 28%;
}
.announcement_img img{
  width: 100%;
}

.announcement_section{
  display: flex;
}
.left_section{
  width: 60%;
}
.lb_picture img{
  width: 100%;
  padding: 1rem 2rem;
}
.banner_text{
padding: 1rem 2rem;
}
.banner_text h3{
  margin-bottom: 1.5rem;
}
.quote_author{
  margin-top: 1.5rem;
  font-size: 0.8rem;
}
.details{
  margin: 1rem;
}
.details h5{
  margin: 1rem 0 3rem 0;
}
.lower_banner #mobile_orientation{
  display: none;
}
.lower_banner #mobile_campus{
  display: none;
}
.lower_banner #mobile_lecture{
  display: none;
}

/*Mobile Lower Banner*/
@media only screen and (max-width: 480px){
  .lower_banner .left_section{
    display: none;
  }
  .lower_banner #desktop_orientation{
    display: none;
  }
  .lower_banner #mobile_orientation{
    display:block;
  }
  .lower_banner #desktop_campus{
    display: none;
  }
  .lower_banner #mobile_campus{
    display:block;
  }
  .lower_banner #desktop_lecture{
    display: none;
  }
  .lower_banner #mobile_lecture{
    display:block;
  }
.announcement_section{
  flex-direction: column;
  text-align: center;
}
.announcement_section h4{
  font-weight: bold;
}
.announcements{
  margin: 0;
}
.announcement_img {
  width: 100%;
}
.details h5 {
  margin-bottom: 1rem;
}
.details a{
  color: blue;
  text-decoration: underline;
}
}

/*tablet lower banner*/
@media only screen and (max-width: 720px) {
header .right_header{
  display: none;
}
.lower_banner .left_section{
  display: none;
}
.mobile_header{
  display: flex;
  width: 100%;
  justify-content: center
}
.mobile_menu{
  display: flex;
}
.mobile_menu img{
    width: 2rem;
    margin: 0 1rem;
  }
}

/*Start Learning Section*/
.learning_container{
  background-color: lightgrey;
  padding: 2rem 0 4rem 0;
}
.learning_title{
  text-align: center;
  padding: 1rem;
}
.start_learning{
  display: flex;
  flex-wrap: wrap;
}
.start_learning img{
  width: 100%;
}
.course{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 1rem;
}
.course img{
  width: 100%;
}
.course_grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.course_text{
  text-align: left;
  padding: 1rem 1rem 3rem 1rem;
  background-color: white;
  height: 5.5rem;

}
.course_text h3{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.course_text p{
  margin: .5rem;
}
.mobile_course_container, .mobile_course_title, .mobile_course_list{
  display:none;
}

/*Mobile Start Learning*/
@media only screen and (max-width: 690px){
  .learning_container{
    display: none;
  }
  .mobile_course_container{
    display: flex;
    flex-direction: column;
  }
.mobile_course_list{
  display: flex;
  flex-direction: column;
}
.mobile_course_list ul li{
  background-color: lightgrey;
  font-size: 1rem;
  margin: .5rem auto;
  padding: 1rem 0;
  width: 80%;
}
.mobile_course_list ul li h5{
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 1.25rem;
}
.learning_title{
  margin: 0;
}
.learning_title h1{
  padding: 2rem 0 2rem 0;
  margin: 0;
}
.mobile_course_title{
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}
}

/*Tablet Courses Section*/
@media only screen and (max-width: 950px){
  .course_text h3{
    font-size: 1.5rem;
  }
  .course_text p{
    font-size: .9rem;
  }
}
@media only screen and (max-width: 730px){

}

/* Thesis Section */
 .thesis_exhibit_container{
   margin-top: 2rem;
   display: flex;
 }
 .left_video video{
   width: 100%;
   padding: 1rem 2rem;
 }
.thesis{
   display: flex;
   margin-left: 4rem;
   flex-direction: column;
   width: 45%;
 }
 .exhibits{
   width: 80%;
   display: flex;
 }
 .exhibits_img{
   width: 100%;
 }
 .exhibits_img img{
   padding-top: 1rem;
 }
 .exhibits_text{
   margin-top: 2rem;
   margin-left: 1rem;
   width: 30rem;
 }
 .exhibits_text h5{
   margin: 1rem 0;
 }
 .banner_text h4{
   margin-bottom: 1rem;
 }

 /*Mobile Thesis Section*/
 @media only screen and (max-width: 680px){
   .left_section .banner_text{
     display: none;
   }
   .left_video video{
     padding: 0;
   }
   .left_section{
     width: 100%;
     margin: 0 auto;
   }
   .thesis{
     display: none;
   }
 }

 /*Tablet Thesis Section*/
 @media only screen and (max-width: 950px){
   .exhibits_img img{
     width: 100%;
   }
 }

 /* Footer */
 footer{
   border-top: 1px solid black;
   padding-top: 1rem;
   margin: 5rem 1rem 1rem 1rem;
   display: flex;
   justify-content: space-between;
 }

 footer .left_header, footer .right_header{
   display: flex;
   text-align: center;
   align-items: center;
 }
 footer .right_header {

 }
 footer .menu {
   display: flex;
   }
